/* ここから自分で記述したもの（レスポンシブデザインは除く） */
.auth-wrapper{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  font-family: "Abril Fatface", cursive;
  font-family: "League Spartan", sans-serif;
}

.auth-container {
  width: 90%;
  height: 90%;
  margin: auto;
  border-radius: 10px;
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  gap: 2rem;
  background-color: #fafafa; 
  border: 3% solid var(--blue);
}

.auth-form-wrapper {
  width: 65%;
  flex-grow: 1;
  padding: 1rem 0 1rem 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.auth-main-pic {
  max-width: 40%;  /* もしくは max-width: 30%; でもOK */
  object-fit: contain;
  height: auto;
  border-radius: 0 10px 10px 0 / 0 10px 10px 0;
}

.auth-mobile-pic {
  display: none;
}

.auth-logo {
  height: 80px;
  position: absolute;
  top: 0.5rem;
  left: 2rem;
}

.auth-logo > img {
  height: 100%;
  width: auto;
  border-left: solid 12px var(--blue);
  padding-left: 10px;
}

.auth-logo > p {
  font-weight: bold;
  font-size: 18px;
  padding-left: 10px;
  border-left: 6px solid #D6CDC4; /* ← 縦棒 */
  margin-left: 10px;
  color: var(--main-black); /* 任意 */
}

.auth-button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-title {
  white-space: nowrap;
  word-break: keep-all;
  overflow: hidden;
  font-size: 40px;
  margin: 0 0 2rem 0;
  text-align: center; /* 中央寄せしたい場合 */
}

.auth-title-signup{
  white-space: nowrap;
  word-break: keep-all;
  overflow: hidden;
  font-size: 40px;
  margin-top: 45px;  /* ← 上に余白を追加（数値は好みで調整） */
  text-align: center; /* 中央寄せしたい場合 */
}
.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 60%;
  width: 70%;
  margin: auto;
}

.auth-form.signup {
  padding-top: 40px;
}

.auth-form > div {
  width: 100%;
  margin-bottom: 1rem;
}

.auth-form input {
  border: solid 2px lightgrey;
  outline: none;
  margin-bottom: 10px;
  line-height: 32px;
  width: 100%;
  padding: 0.2rem 1rem;
}

.auth-form input::placeholder {
  color: lightgrey;
}

.auth-form input:focus {
  border: 2px var(--sub-black) solid;
  background-color: #fafafa;
}

.is_admin {
  display: flex;
  flex-direction: left; 
  align-items: center;
}

.auth-form label {
  font-size: 12px;
  color: #828282;
}

.auth-button-login {
  background-color: #0F4C81;  /* ← ボタンのカラー */
  color: white;
  border: none;
  padding: 0.8rem 1rem;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 12px;
}

.auth-button-signup {
  background-color: #D6CDC4;  /* ← ボタンのカラー */
  color: #3A3A3A;
  border: none;
  padding: 0.8rem 1rem;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 12px;
}

.switch-auth-mode {
  color: 888686;
  line-height: 28px;
  font-size: 14px;
  border-bottom: solid 2px lightgrey;
  padding: 0.5rem 2rem 0 2rem;
}

.switch-auth-mode:hover {
  color: var(--blue);
}

.flashes {
  margin: 0;
  padding-inline-start: 0;
  text-align: center;
  font-size: 18px;
  color: rgb(198, 8, 8);
}

/* 登録ボタンをカスタマイズ */
.btn-info {
  background-color: #41B3C5;
  font-weight: bold;
  border: none;
}
.btn-info:hover {
  background-color: #369fb1;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.auth-form input:not([type="checkbox"]) {
  border: solid 2px lightgrey;
  outline: none;
  margin-bottom: 10px;
  line-height: 32px;
  width: 100%;
  padding: 0.2rem 1rem;
}

input[type="checkbox"] {
  width: auto;
  margin: 0;
}
