/* ここから自分で記述したもの */
:root{
  --navy_blue: #122543;
  --blue: #0F4C81;
  --brown: #D6CDC4;
  --main-black: #3A3A3A;
  --sub-black: #828282;
  --toroku: #888686;
  --white: #fafafa;
  --turquoise-blue: #40B7C4;
  --pink: #000000;
}

/* テストです　*/
abcd